include ../includes/api.jade

h1 气泡图

#demo.demo

h2 属性

ul.api
  +api({
    name: 'radiusMaker',
    type: 'string',
    isRequired: true,
    desc: '决定气泡大小的数据纬度'
  })
    pre
      :highlight(lang='js')
        var a = 1

  +api({
    name: 'content',
    type: 'string',
    desc: '气泡文字内容'
  })

  +api({
    name: 'color',
    type: 'string',
    desc: '颜色值'
  })

  +api({
    name: 'data',
    type: 'array',
    desc: '二维格式数据'
  })
  pre
    :highlight(lang='js')
      [{
        users: 234,
        name: 'A',
      }, {
        users: 499,
        name: 'B'
      }]
  