h1 多选框

pre
  :highlight(lang='js')
    import Checkbox from 'bfd-ui/lib/Checkbox'

    render(<Checkbox value="apple" onChange={e => {alert(e.target.value)}}>苹果</Checkbox>, mountNode)

#demo

h2 属性

include ../includes/api.jade

ul.api

  +api({
    name: 'checked',
    type: 'boolean',
    desc: '是否选中，没有值与 true 等价'
  })
    pre
      :highlight(lang='js')
        render(<Checkbox checked>苹果</Checkbox>, mountNode)
  
  +api({
    name: 'value',
    type: 'string',
    desc: '同原生 value 属性'
  })

  +api({
    name: 'onChange',
    type: 'function',
    desc: '选择后的回调'
  })