include ../includes/api.jade

h1 弦图

pre
  :highlight(lang='js')
    import Chord from 'bfd-ui/src/chord'

    const data = [{
      name: 'gid',
      total: 5000,
      relation: [{
        target: 'ceil',
        value: 100
      }]
    }, {
      name: 'ceil',
      total: 2000,
      relation: [{
        target: 'imei',
        value: 100
      }]
    }, {
      name: 'imei',
      total: 200
    }]

    ReactDom.render(<Chord data={data}/>, mountNode)

#demo.demo