include ../includes/api.jade
h1 DataTable&分页
pre
    :highlight(lang='js')
        import React from 'react'
        import { render } from 'react-dom'
        import DataTable from 'c/dataTable/datatable.jsx'

        var column = [
          {
            title: '姓名' ,
            render( text , i ){

              return <a href="#" onClick={function(){

            }} >{text}</a>} ,
            key: 'name' } ,
          {
            title: '年龄' ,
            key: 'age' } ,
          {
            title: '身高' , key: 'height' , render( text ){
            return <a href="#">{text}</a>
          }
          } ,
          { title: '体重' ,
            key: 'weight' } ,
          { title: '国家/地区' , key: 'country' } ,
          {
            title: '操作' ,
            /**
             *
             * @param columns  数据对象
             * @param obj      react 对象
             * @returns {XML}  返回dom对象
              */
            render(columns,obj){
            return (<div className="icon">
              <span className="glyphicon glyphicon-search" onClick={
              function (){
              //todo
                //刷新列表
                obj.refresh()
              }
              }></span>
              <span className="glyphicon glyphicon-trash" onClick = {
              function(){
              //todo
                //刷新列表
                obj.refresh()
              }
              }></span>
              <span className="glyphicon glyphicon-edit" onClick={
                function(){
                //todo
                //刷新列表
                obj.refresh()
                }

              }></span>
            </div>)
          } , key: 'operation'//注：operation 指定为操作选项和数据库内字段毫无关联，其他key 都必须与数据库内一致
          }
        ]

        render(<DataTable url="/data/table.json" column={column}  showRow={10} />, document.getElementById('demo'))
#demo
#paging
h2 属性
ul.api
    +api({
        name: 'operation',
        type: 'object',
        isRequired: true,
        desc: '注：operation 指定为操作选项和数据库内字段毫无关联，其他key 都必须与数据库内一致'
    })

h2 属性
ul.api
    +api({
        name: 'column',
        type: 'object',
        isRequired: true,
        desc: '数据字段列配置，render 需要渲染的特定列'
    })
    pre
        :highlight(lang='js')
            {title:'操作',render(){
                    return (<div className="icon">
                             <span className="glyphicon glyphicon-search" ></span>
                             <span className="glyphicon glyphicon-trash"></span>
                             <span className="glyphicon glyphicon-edit"></span>
                            </div>)
                }
    +api({
        name: 'showRow',
        type: 'Integer',
        isRequired: true,
        desc: '每页需要显示的条数'
    })
    +api({
        name: 'url',
        type: 'string',
        isRequired: true,
        desc: '要请求数据的服务端地址'
    })