include ../includes/api.jade

h1 提示信息

pre
  :highlight(lang='js')
    import  Message from 'bfd-ui/src/message'

    import  Button from 'bfd-ui/src/message'

    const success = function() {Message.success('这是成功信息')};

    ReactDom.render(<Button onClick={success}>成功</Button>, mountNode)

h2 属性

ul
  +api({
    name: 'duration',
    desc: '自动关闭时间'
  })
pre
  :highlight(lang='js')
  onst success = function() {Message.success('这是成功信息'),10} //10秒后自动关闭
#demo.demo


