include ../includes/api.jade

h1 模态框

pre
  :highlight(lang='js')
    import { Modal, ModalHeader, ModalBody } from 'c/modal/index.jsx'

    const App = React.createClass({

      getInitialState() {
        return {
          isOpen: false        
        }
      },

      handleClick() {
        this.setState({isOpen: true})
      },

      render() {
        return (
          <div>
            <button className="btn btn-primary" onClick={this.handleClick}>点击打开</button>
            <Modal isOpen={this.state.isOpen}>
              <ModalHeader>
                <h4 className="modal-title">test</h4>
              </ModalHeader>
              <ModalBody>
                dadasd
              </ModalBody>
            </Modal>
          </div>
        )
      }
    })

    ReactDom.render(<App/>, mountNode)

#demo.demo

h2 Modal 属性

ul.api
  +api({
    name: 'isOpen',
    type: 'boolean',
    isRequired: true,
    desc: '是否为打开状态'
  })

  +api({
    name: 'onClose',
    type: 'function',
    isRequired: true,
    desc: '关闭事件的回调函数'
  })

h2 ModalHeader 属性

p 模态框头部

ul.api
  +api({
    name: 'onClose',
    type: 'function',
    isRequired: true,
    desc: '同上'
  })

h2 ModalBody 属性

p 模态框主体