include ../includes/api.jade

h1 导航

p 导航需要配合 react-router 使用

pre
  :highlight(lang='js')
    import { Router, Route, IndexRoute } from 'react-router'
    import { createHistory } from 'history'
    import Nav from 'bfd-ui/lib/nav'

    const App = React.createClass({

      render() {
        return (
          <div>
            <Nav>
              <Nav.Item href="/" icon="home" title="首页"/>
              <Nav.Item href="/applications" icon="bold" title="应用">
                <Nav>
                  <Nav.Item href="/applications/oa" title="办公OA"/>
                  <Nav.Item href="/applications/email" title="邮箱"/>
                </Nav>
              </Nav.Item>
            </Nav>
            <div className="content">{this.props.children}</div>
          </div>
        )
      }
    })

    // Home、Oa、Email组件定义省略

    render((
      <Router history={createHistory()}>
        <Route path="/" component={App}>
          <IndexRoute component={Home}/>
          <Route path="applications">
            <Route path="oa" component={Oa}></Route>
            <Route path="Email" component={Email}></Route>
          </Route>
        </Route>
      </Router>
    ), mountNode) 