include ../includes/api.jade

h1 环比图

pre
  :highlight(lang='js')
    import Percentage from 'bfd-ui/src/Percentage'

    ReactDom.render(<Percentage config={config}></Percentage>, mountNode)

#demo.demo

h2 属性
pre
  说明：config.data为百分比数值，类型为int。  
