include ../includes/api.jade

h1 饼图

pre
  :highlight(lang='js')
    import PieChart from 'bfd-ui/src/PieChart'
    ReactDom.render(<PieChart config={config}></PieChart>, mountNode)

#demo.demo

h2 属性


ul.api
  +api({
    name: 'config',
    type: 'object',
    isRequired: true,
    desc: '参数配置'
  })
pre
  :highlight(lang='js')
   {
      name: '访问来源',   //必填。  设置tooltip标题。
      radius: {       //可选。  设置圆环的内半径大小 inner为1表示内半径等于外半径。
      	inner:0          
      },
      animation:{      //可选。  pie设置圆环的动画时间，lineText设置line和text的动画时间。
      	pie:2500,
      	lineText: 500
      },
      tooltip:{     //可选。  禁用提示框，默认启用。
      	enabled:false
      },
      hoverColor:'#9D9D9D',  //可选。
      data:[      	//必填。 
        {value:335, name:'直接访问'},
        {value:310, name:'邮件营销'},
        {value:234, name:'联盟广告'},
        {value:135, name:'视频广告'},
        {value:848, name:'搜索引擎'},
        {value:348, name:'百分点'}
      ]
    }