include ../includes/api.jade

h1 雷达图

pre
  :highlight(lang='js')
    import RadarChart from 'bfd-ui/src/radarChart'

    ReactDom.render(<RadarChart config={config}></RadarChart>, mountNode)

#demo.demo

h2 属性
pre
  说明：测试 demo ,不完整慎用。  
