h1 单选框

pre
  :highlight(lang='js')
    import { RadioGroup, Radio } from 'c/RadioGroup'

    const App = React.createClass({

      getInitialState() {
        return {
          value: 'mi'
        }
      },

      handleChange(e) {
        this.setState({value: e.target.value})
      },

      render() {
        return (
          <RadioGroup value={this.state.value} onChange={this.handleChange}>
            <Radio value="apple">苹果</Radio>
            <Radio value="mi">小米</Radio>
          </RadioGroup>
        )
      }
    })

    render(<App/>, mountNode)


#demo

h2 Radios 属性

include ../includes/api.jade

ul.api

  +api({
    name: 'value',
    type: 'string',
    desc: '选中的值，如果该值与 Radio 的值相同，则该 Radio 为选中状态'
  })
  
  +api({
    name: 'onChange',
    type: 'function',
    desc: '选择后的回调'
  })

h2 Radio 属性

ul.api

  +api({
    name: 'value',
    type: 'string',
    desc: 'Radio 值'
  })
