h1 下拉框

pre
  :highlight(lang='js')
    import { Select ,Option} from 'bfd-ui/lib/Select'

    const App = React.createClass({

      getInitialState() {
        return {
          selected: 3
        }
      },

      handleChange(select,text) {
        this.setState({selected: select})
      },

      render() {
        return (
          <div className="col-md-6">
            <Select selected={this.state.selected} onChange={this.handleChange}>
               <Option value="0">aaa</Option>
               <Option value="1">bbb</Option>
               <Option value="2">ccc</Option>
               <Option value="3">ddd</Option>
            </Select>
          </div> 
        )
      } 

    })
    
    render(<App/>, mountNode)

#demo

include ../includes/api.jade

h2 Select 属性

ul.api

  +api({
    name: 'selected',
    desc: '选中的值'
  })
  
  
  +api({
    name: 'onChange',
    type: 'function',
    desc: '选择后的回调'
  })

h2 Option 属性

ul.api
  
  +api({
    name: 'value',
    desc: '下拉框值'
  })