include ../includes/api.jade

h1 选项卡

pre
  :highlight(lang='js')
    import { Tabs, TabList, Tab, TabPanel } from 'bfd-ui/lib/Tabs'

    render((
      <Tabs>
        <TabList>
          <Tab>群体特征报告</Tab>
          <Tab>样例用户画像</Tab>
        </TabList>
        <TabPanel>我是群体特征报告</TabPanel>
        <TabPanel>我是样例用户画像</TabPanel>
      </Tabs>
    ), mountNode)

#demo