.bfd-multiple-select {
  width: 300px;
  .bfd-dropdown__toggle {
    background-color: #fff;
    position: relative;
    min-height: 30px;
    border: 1px solid #ececec;
    border-radius: 2px;
    cursor: text;
    ul {
      padding: 0px 0px 3px 6px;
      margin: 0;
      list-style: none;
      li {
        display: inline-block;
        margin-top: 4px;
        margin-right: 6px;
        vertical-align: middle;
        input {
          height: 22px;
          border: none;
          outline: none;
          vertical-align: top;
        }
      }
    }
  }
  .bfd-dropdown__menu {
    max-height: 204px;
    overflow: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    box-shadow: none;
    border: 1px solid #ececec;
    border-top: 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  &.bfd-dropdown--open {
    .bfd-dropdown__toggle {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-color: #42a5f5;
      border-bottom-color: #ececec;
    }
    .bfd-dropdown__menu {
      border-color: #42a5f5;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      .bfd-checkbox {
        margin: 0 7px;
      }
    }
  }
}

.bfd-multiple-select__tag {
  border-radius: 2px;
  background-color: #f3f3f3;
  padding-left: 5px;
  cursor: default;
  position: relative;
}

.bfd-multiple-select__tag-name {
  display: inline-block;
  max-width: 100px;
  vertical-align: middle;
  line-height: 22px;
}

.bfd-multiple-select__empty {
  padding: 0 7px;
  line-height: 30px;
}

.bfd-multiple-select__option--active {
  background-color: #e3f2fd;
}