.bfd-daterange {
  .seperator {
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    float: left;
    // background-color: #fcfcfc;
    // border-top: 1px solid #ececec;
    // border-bottom: 1px solid #ececec;
  }
  .bfd-datepicker {
    float: left;
  }
}