.bfd-switch {
  cursor: pointer;
  margin: 0;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  input {
    display: none;
    &:checked {
      + .bfd-switch__text {
        background-color: #4cd964;
        padding-left: 8px;
        padding-right: 20px;
        &:before {
          left: calc(~"100% - 18px");
        }
      }
    }
  }
}

.bfd-switch__text {
  background-color: #ccc;
  display: inline-block;
  vertical-align: top;
  min-width: 40px;
  height: 100%;
  border-radius: 20px;
  padding: 0 8px;
  padding-left: 20px;
  color: #fff;
  position: relative;
  user-select: none;
  &:before {
    position: absolute;
    content: '';
    left: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: left .2s;
  }
}