.alert-message{
	width: 30%;
	position: fixed;
	top:10px;
	left:35%;
	right: 0;
	text-align: left;
	animation:message .5s;
	animation-iteration-count:1;
}
.alert{
	padding: 20px 0 20px 15px;
}
.alert.alert-success{
	color:#48874a;
	border:1px solid #d6e8c7;
	background-color:#e0f0d9;
}
.alert.alert-info{
	color:#3e88ab;
	border:1px solid #bee8f1;
	background-color:#d9edf6;
}
.alert.alert-danger{
	color:#bf9858;
	border:1px solid #faedd6;
	background-color:#fcf7e4;
}
.alert.alert-warning{
	color:#b74b4b;
	border:1px solid #edd3d7;
	background-color:#f2dede;
}
@keyframes message
{
from {top:0px;}
to {top:10px;}
}
