.components__edit {
  position: absolute;
  right: 25px;
  top: 30px;
}

.components__markdown {
  h2 {
    margin-top: 3em;
    &:before {
      content: none;
    }
  }
  h3 {
    margin-bottom: .5em;
    font-size: 18px;
    &:before {
      content: none;
    }
    code {
      font-size: 14px;
    }
  }
  p, pre, ul, blockquote {
    margin-top: 0;
    margin-bottom: .5em;
  }
}
