html, body, #app {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 2em;
  margin-bottom: .5em;
  &:first-child {
    margin-top: .3em;
  }
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

a {
  color: #42a5f5;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #444;
  font-size: 12px;
  line-height: 1.5;
}

.wrapper {
  animation: wrapper-fade .25s cubic-bezier(.455,.03,.515,.955);
}

@keyframes wrapper-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  background-color: #42a5f6;
  padding: 15px 20px;
  color: #fff;
  transition: all .2s;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.header--index {
  background-color: #fff;
  color: #42a5f6;
  a {
    color: #42a5f6;
    &:hover {
      color: #42a5f6;
    }
  }
}

.header__logo {
  display: block;
  font-size: 18px;
  height: 30px;
  margin-right: 40px;
  svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    fill: #fff;
  }
  sub {
    margin-left: 3px;
    bottom: 0px;
    font-size: 50%;
  }
}

.header__nav {
  font-size: 14px;
  margin-top: 2px;
  @media (max-width: 670px) {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 6px;
      a {
        display: block;
        padding: 0 18px;
        line-height: 26px;
        border-radius: 16px;
        transition: all .2s;
        &:hover,
        &.active {
          background-color: #fff;
          color: #42a5f6;
        }
      }
    }
  }
}

.header--index {
  .header__logo {
    color: #333;
    &:hover {
      color: #333;
    }
    svg {
      fill: #df0615;
    }
  }
  .header__nav {
    a {
      &:hover,
      &.active {
        background-color: #42a5f6;
        color: #fff;
      }
    }
  }
}

.header__nav-toggle {
  display: none;
  margin-right: 10px;
  font-size: 14px;
  @media (max-width: 670px) {
    display: inline-block;
  }
  .bfd-dropdown__menu {
    left: initial;
    right: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        display: block;
        line-height: 30px;
        padding: 0 14px;
        transition: all .2s;
        color: #42a5f6;
        &:hover,
        &.active {
          background-color: #42a5f5;
          color: #fff;
        }
      }
    }
  }
}

.header__github {
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  line-height: 30px;
}

.body {
  min-height: 100vh;
}

.footer {
  padding: 0 20px;
  height: 60px;
  font-size: 14px;
  background-color: #555;
  color: #ebebeb;
  line-height: 60px;
  text-align: center;
}
