.bfd-tree {
  > ul {
    > li:first-child {
      &:after {
        top: 8px;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-top: 10px;
      position: relative;
      margin-left: 26px;
      &:before {
        position: absolute;
        top: 8px;
        content: '';
        width: 15px;
        height: 0px;
        border-top: 1px dotted #999;
        left: -9px;
      }
      &:after {
        position: absolute;
        top: -12px;
        left: -11px;
        bottom: 1px;
        content: '';
        width: 0px;
        border-right: 1px dotted #999;
      }
      &:last-child {
        &:after {
          bottom: 11px;
        }
        &:first-child {
          &:after {
            bottom: 11px;
          }
        }
      }
      > button.toggle {
        padding: 0;
        width: 16px;
        height: 16px;
        position: absolute;
        left: -19px;
        top: 1px;
        z-index: 1;
        background-color: #64b5f6;
        border: 0;
        &:before {
          content: '+';
          position: absolute;
          font: 14px monospace;
          font-weight: bold;
          line-height: 1;
          left: 4px;
          top: 0px;
        }
      }
      > span.glyphicon {
        color: #64b5f6;
        margin: 0 8px;
      }
      > ul {
        display: none;
      }
      &.open {
        &:last-child {
          &:after {
            bottom: 100%;
          }
        }
        > button.toggle:before {
          content: '-';
          top: -1px;
        }
        > ul {
          display: block;
        }
      }
    }
  }
}