.bfd-select-tree {
  .bfd-checkbox {
    margin-left: 10px;
    vertical-align: middle;
  }
  ul {
    li {
      > .node-content {
        &:before {
          left: -69px;
          width: 17px;
        }
      }
    }
  }
}