.bfd-select-tree {
  .bfd-checkbox {
    margin-left: 5px;
    vertical-align: middle;
  }
  ul {
    li {
      > .node-content {
        &:before {
          left: -60px;
        }
      }
      &:last-child {
        &:after {
          bottom: 10px;
        }
        &:first-child {
          &:after {
            bottom: 10px;
          }
        }
      }
    }
  }
}