.bfd-select-tree {
  .bfd-checkbox {
    margin-left: 0px;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 0;

  }
  ul {
    li {
      > .node-content {
        &:before {
          left: -60px;
          width: 9px;
        }
      }
    }
  }
}