.bfd-tree {
  > ul {
    > li:first-child {
      margin-top: 0;
      &:after {
        top: 8px;
      }
    }
    ul {
      margin-left: 21px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-top: 10px;
      position: relative;
      > .toggle {
        color: #42a5f5;
        cursor: pointer;
        background-color: #fff;
        position: relative;
        z-index: 1;
      }
      > .toggle-icon {
        margin: 0 10px;
        color: #42a5f5;
      }
      
      > .node-content {
        position: relative;
        display: inline-block;
        &:before {
          position: absolute;
          top: 50%;
          content: '';
          width: 11px;
          height: 0px;
          border-top: 1px dotted #999;
          left: -36px;
        }
      }
      > ul {
        display: none;
      }
      &:after {
        position: absolute;
        top: -12px;
        left: 6px;
        bottom: 3px;
        content: '';
        width: 0px;
        border-right: 1px dotted #999;
      }
      &:last-child {
        &:after {
          bottom: 8px;
        }
        &:first-child {
          &:after {
            bottom: 8px;
          }
        }
      }
      &.open {
        &:last-child {
          &:after {
            bottom: 100%;
          }
        }
        > ul {
          display: block;
        }
      }
    }
  }
}