.markdown {
  counter-reset: h2;
  h2 {
    counter-reset: h3;
    &:before {
      counter-increment: h2;
      content: counter(h2)". ";
    }
  }
  h3 {
    &:before {
      counter-increment: h3;
      content: counter(h2) "."counter(h3)". ";
    }
  }
  h1, h2 {
    &:not(:first-child) {
      margin-top: 50px;
    }
  }
  pre {
    background-color: #fafafa;
  }
  code {
    color: #ff4171;
  }
  em {
    opacity: .8;
  }
  ul {
    padding-left: 2em;
    list-style-type: circle;
  }
  li {
    line-height: 20px;
  }
  blockquote {
    margin: 20px 0 10px 0;
    padding: 8px 15px;
    border-left: 5px solid #ffc3c3;
    color: #999;
  }
}
