.markdown {
  counter-reset: h2;
  h2 {
    counter-reset: h3;
    &:before {
      counter-increment: h2;
      content: counter(h2)". ";
    }
  }
  h3 {
    &:before {
      counter-increment: h3;
      content: counter(h2) "."counter(h3)". ";
    }
  }
  pre {
    background-color: #f5f5f5;
    border-radius: 2px;
  }
  code {
    color: #ff4171;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  }
  ul {
    list-style-type: circle;
  }
  blockquote {
    margin: 10px 0;
    padding: 8px 15px;
    border-left: 5px solid #ffc3c3;
    color: #999;
    background-color: #ffebeb;
    border-radius: 2px;
    p {
      margin: 0;
    }
  }
}
