@import './tooltip.css';

.tick {
  fill: #93979a;
  font-size: 12px;
}
.tick line,
path.domain {
  fill: none;
  stroke: #f5f5f5;
  shape-rendering: crispEdges;
}
.axis-y path.domain {
  stroke: none;
}
.legend {
  right: 0;
  top: 0;
  color: #555;
  font-size: 12px;
}
.legend > div {
  display: inline-block;
  margin-right: 10px;
}
.legend .disabled {
  color: #ccc;
}
.legend .legend-rect {
  margin-right: 3px;
  display: inline-block;
  width: 1em;
  height: .6em;
}
.legend .disabled .legend-rect {
  background-color: #ccc!important;
}