@import '../lineChart/main.css';
.pie-slices>path{cursor:pointer;-ms-transition:stroke-width 250ms,fill 250ms;-o-transition:stroke-width 250ms,fill 250ms;-moz-transition:stroke-width 250ms,fill 250ms;-webkit-transition:stroke-width 250ms,fill 250ms;transition:stroke-width 250ms,fill 250ms;stroke:#fff;stroke-width:2px;}
.pie-slices>path:hover{stroke-width:6px;}
.pie-labels>text{font-size:0.8em;text-transform:uppercase;letter-spacing:0.5px;}
.pie-lines>polyline{fill:none;stroke:#000;stroke-width:2px;}
.demo{width: 500px;}