#header {
  background-color: #2196f3;
  height: 50px;
  padding: 0 20px;

  h2 {
    color: #fff;
    margin: 0;
    line-height: 50px;
  }
}

#body {
  position: relative;
  
  > .toggle {
    display: none;
    margin: 20px 0 0 20px;
    @media (max-width: 700px) {
      display: block;
    }
  }

  > .sidebar {
    width: 200px;
    float: left;
    @media (max-width: 700px) {
      display: none;
    }
    &.open {
      @media (max-width: 700px) {
        display: block;
        float: none;
        width: auto;
      }
    }
  }
  > .content {
    padding: 20px;
    min-height: 600px;
    overflow: hidden;
    max-width: 700px;
    > div {
      -webkit-animation: in .5s;
    }
    @media (max-width: 700px) {
      margin-left: 0;
    }
  }
} 
@-webkit-keyframes in {
  from {
    opacity: 0.05;
    -webkit-transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

pre {
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #666;
  border: 0;
  font-size: 12px;
  white-space: pre-wrap;
  padding: 1rem;
}
pre .kwd {
  color: #8959a8;
}
pre .tag,
pre .attr {
  color: #c82829;
}
pre .str {
  color: #718c00;
}
pre .num,
pre .kc {
  color: #3498db;
}
pre .com {
  color: #969896;
}
