@import './pre.less';

html, body, #app {
  height: 100%;
}

#wrapper {
  position: relative;
  min-height: 100%;
}

#header {
  background-color: #2196f3;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  color: #fff;
  a {
    text-decoration: none;
    color: #fff;
    h2 {
      margin: 0;
      line-height: 50px;
    }
  }
}

#body {
  padding-bottom: 50px;
  > .sidebar {
    width: 200px;
    float: left;
  }
  > .content {
    overflow: hidden;
    margin-left: 200px;
    > div {
      padding: 20px;
      -webkit-animation: in .5s;
    }
  }
} 
@-webkit-keyframes in {
  from {
    opacity: 0.05;
    -webkit-transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  height: 50px;
  font-size: 12px;
  background-color: #333;
  color: #ccc;
  line-height: 50px;
}
