.components {
  > ul {
    list-style: none;
    padding: 0;
    li {
      padding: 10px;
      display: inline-block;
      width: 200px;
      height: 130px;
      a {
        color: #333;
        text-decoration: none;
        img {
          width: 100%;
          height: 100%;
        }
      }
      
    }
  }
}