.components {
  width: auto!important;
  > div {
    width: 700px;
    &.list {
      width: auto;
      dt {
        color: #333;
        margin-top: 10px;
        font-weight: normal;
        font-size: 20px;
      }
      dd {
        display: inline-block;
        vertical-align: top;
        a {
          margin: 10px;
          display: block;
          border: 1px solid #e2e2e2;
          border-radius: 2px;
          width: 180px;
          height: 110px;
          padding: 10px;
          color: #333;
          text-decoration: none;
          transition: transform .2s;
          &:hover {
            transform: scale(1.1);
          }
          h4 {
            margin: 0;
            margin-bottom: 5px;
            font-size: 12px;
            font-weight: normal;
            white-space: nowrap;
          }
          img {
            width: 160px;
            height: 70px;
          }
          .empty {
            margin-top: 15px;
            color: #999;
          }
        }
      }
    }
  }
}