.props {
  width: 100%;
  margin-top: 15px;
  td {
    vertical-align: top;
    &.name {
      color: #ce3333;
      &.deprecated {
        color: #aaa;
      }
      &.required {
        &:after {
          content: '*';
          font-weight: bold;
          margin-left: 5px;
        }
      }
    }
    &.type {
      color: #1976d2;
    }
  }
  > ul {
    padding: 0;
    list-style: none;
    > li {
      margin-bottom: 30px;
      p {
        margin-bottom: 5px;
      }
      > .common {
        margin-bottom: 5px;
        > span {
          color: #999;
          margin-left: 15px;
          &:first-child {
            margin-left: 0;
          }
          &.name {
            color: #c82829;
            font-weight: 500;
          }
        }
      } 
    }
  }
}