.props {
  > ul {
    padding: 0;
    list-style: none;
    > li {
      margin-bottom: 30px;
      > span.name {
        color: #c82829;
        font-weight: 500;
      }
      > span.type {
        color: #ababab;
        margin-left: 5px;
      }
    }
  }
}