.bfd-confirm {
  .modal-dialog {
    width: 350px;
  }
  .modal-header {
    padding: 10px;
    > .modal-title {
      font-size: 14px;
    }
  }
  .modal-body {
    padding: 10px;
    text-align: center;
    .message {
      padding: 10px;
    }
    .operate {
      margin-top: 20px;
      > button + button {
        margin-left: 5px;
      }
    }
  }
}