.bfd-form {
	font-size: 12px;

	input, textarea, .bfd-error, .bfd-dropdown {
		border-radius: 2px !important;
	}
	.bfd-form-group-required:before {
		display: inline-block;
		margin-right: 4px;
		content: "*";
		font-family: SimSun;
		font-size: 12px;
		color: #F54431;
	}
	.bfd-error {
		background-color: #FBDECF;
		border-color: #FBDECF;
		color: #B94B45;
		font-size: 12px;
		border: none !important;
	}
	.has-error {
		.form-control, .bfd-dropdown {
			border-color: #a94442 !important;
			height: auto;
		}
	}
	.has-bfd-success {
		.form-control, .bfd-dropdown {
			border-color: #42a5f5 !important;
		}
	}
	.form-control {
		box-shadow: none;
		border-radius: 0;
		border: 1px solid #ccc;
	}
	.bfd-form-label {
		font-weight: normal;
		padding-left: 18px;
	}
	 .col-md-1, .col-md-10, .col-md-11, 
	 .col-md-12, .col-md-2, .col-md-3, 
	 .col-md-4, .col-md-5, .col-md-6, 
	 .col-md-7, .col-md-8, .col-md-9{		
		padding-right: 10px;
		padding-left: 10px;
	}
	.bfd-submit-btn{
		color: #fff;
		font-size: 12px;
		background-color: #26A69A;
		margin-right: 20px;
	}
	.bfd-cancel-btn{		
		color: #26A69A;
		font-size: 12px;
		border: 1px solid #26A69A;
		background-color: #fff;
	}
}
@media screen and (min-width:992px) {
	.bfd-form {
		.bfd-form-label {
			float: left;
			position: relative;
			min-height: 1px;
			padding-right: 8px;
			padding-bottom: 4px;
			width: 120px;
			text-align: right;
		}
	}
}