.panel-demo {
  border-radius: 2px;
  // border: none;
  // border-bottom: 2px solid #bbdefb;
  // box-shadow: 0 3px 40px rgba(0,0,0,.18);
  .panel-heading {
    // border: none;
    h3 {
      margin: 0;
    }
    button {
      border: none;
      outline: none;
      background-color: transparent;
      &:hover {
        color: #2196f3;
      }
    }
  }
  .code {
    transition: height .2s ease-in-out;
    overflow-x: auto;
    overflow-y: hidden;
    pre {
      margin: 0;
    }
  }
}