doctype html
html(lang="en")
  head
  body
    script.
      window.components = [{
        "name": "LineChart",
        "cn": "折线图"
      }, {
        "name": "BarChart",
        "cn": "柱状图"
      }, {
        "name": "PieChart",
        "cn": "饼图"
      }, {
        "name": "ScatterPlot",
        "cn": "散点图"
      }, {
        "name": "RadarChart",
        "cn": "雷达图"
      }, {
        "name": "BubbleChart",
        "cn": "气泡图"
      }, {
        "name": "ChinaMap",
        "cn": "中国地图"
      }, {
        "name": "ChordDiagram",
        "cn": "弦图"
      }, {
        "name": "Modal",
        "cn": "模态框"
      }, {
        "name": "Nav",
        "cn": "导航"
      }, {
        "name": "Message",
        "cn": "消息提示"
      }, {
        "name": "Percentage",
        "cn": "环比图"
      }]
    #app
    script(src="/dist/app.js")