h1 Bootstrap

h2 Buttons
div
  button.btn.btn-default(type="button")
    span.glyphicon.glyphicon-align-left
  a.btn.btn-default(href="")（默认样式）Default
  button.btn.btn-primary(type="button")（首选项）Primary