.container-fluid
  .row
    .col-md-12
      h1 Buttons
      button.btn.btn-default(type='button')
        span.glyphicon.glyphicon-align-left
      a.btn.btn-default(href='') （默认样式）Default
      button.btn.btn-primary(type='button') （首选项）Primary
      .btn-group
        button.btn.btn-default.btn-xs(type='button') 昨天
        button.btn.btn-default.btn-xs(type='button') 最近7天
        button.btn.btn-default.btn-xs.active(type='button') 最近30天
  .row
    .col-md-6
      h1 Tables
      table.table
        thead
          tr
            th First Name
            th Last Name
            th Username
        tbody
          tr
            td Mark
            td Otto
            td
              span.glyphicon.glyphicon-align-left
          tr
            td Jacob
            td Thornton
            td @fat
          tr
            td Larry
            td the Bird
            td @twitter
  .row
    .col-md-2
      h1 Nav stacked
      ul.nav.nav-pills.nav-stacked
        li.open.active
          a(href='')
            span.glyphicon.glyphicon-align-left
            |             Home
            span.toggle.glyphicon.glyphicon-menu-right
          ul.nav.nav-pills.nav-stacked
            li.open.active
              a(href='#')
                | Home
                span.toggle.glyphicon.glyphicon-menu-right
              ul.nav.nav-pills.nav-stacked
                li
                  a(href='#') Home
                li.active
                  a(href='#') Profile
                li
                  a(href='#') Messages
            li
              a(href='#') Profile
            li
              a(href='#') Messages
        li
          a(href='#') Profile
          ul.nav.nav-pills.nav-stacked
            li
              a(href='#') Home
            li
              a(href='#') Profile
            li
              a(href='#') Messages
        li
          a(href='#') Messages
  .row
    .col-md-8
      h1 Modal
      .modal(style='position:relative;top:auto;right:auto;bottom:auto;left:auto;z-index:1;display:block;background-color:#666;')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4.modal-title Modal title
            .modal-body
              p One fine body…
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes
