.home {
}

.home__banner {
  > .center {
    margin-top: 124px;
    margin-bottom: 153px;
    overflow: hidden;

  }
}

.home__banner-left {
  img {
    width: 100%;
  }
}

.home__banner-info {
  float: right;
  em {
    font-style: normal;
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 48px;
    color: #42a4f5;
    margin: 10px 0;
    font-weight: normal;
  }
  h2 {
    font-size: 24px;
    font-weight: normal;
    color: #64b5f6;
    margin: 0;
    margin-bottom: 60px;
  }
  .bfd-btn {
    width: 200px;
    height: 60px;
    font-size: 24px;
  }
}

.home__banner-start {
  background-color: #ff6285!important;
  margin-left: 30px!important;
}

.home__middle {
  background: url('./img/middle.png') no-repeat center;
  background-size: cover;
  > .center {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.home__middle-left {
  padding-right: 100px;
  padding-bottom: 10px;
  color: #fff;
  h2 {
    font-size: 40px;
    color: #fff;
    margin: 0;
    line-height: 80px;
  }
  p {
    font-size: 20px;
    line-height: 30px;
    color: #daedfd;
  }
}

.home__middle-code {
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, .17);
}

.home__features {
  background-color: #fff;
  padding: 120px 0;
}

.home__bottom {
  background: url('./img/bottom.png') no-repeat center;
  background-size: cover;
  > .center {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    h1 {
      font-size: 40px;
      color: #666;
    }
    p {
      font-size: 24px;
      color: #999;
    }
  }
}