
.bfd-paging{
  .layout-div{
    display: inline-block;
    vertical-align: middle
  }
  .pagination li {
    cursor: pointer;
  }
.pagination{
  margin: 0;
}
  .layout-style{
    padding-right: 0;
    width: auto;
  }
  .pagination{
    margin-right:10px ;
    display: inline-block;
    vertical-align: middle
  }

  .btn-go{
    height: 31px;
    margin-left: 6px;
    background: #2196f3;
    color: white;
    outline: none;
    border: 0;
    width: 50px;
    border-radius: 2px;
  }
  .label-font{
    font-weight: normal;
  }
  ._active a{
    background: #2196f3 !important;
    color: white;
    border:1px solid  #2196f3;

  }
  .number{
    width: 40px;
    margin-right: 10px;
  }
  .total-size{
    color: red;
  }
  .total-name{
    margin-left: 20px;
    line-height: 32px;
  }
  .layout-right{
    padding-right: 15px;
  }


}
