.bfd-nav {
  > li {
    > a {
      > .bfd-icon {
        &:first-child {
          width: 1em;
          margin-left: 5px;
          margin-right: 15px;  
        }
        &:last-child {
          float: right;
          cursor: pointer;
          transition: transform .2s;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    &.open {
      > a {
        > .bfd-icon {
          &:last-child {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}