@padding-left: 38px;
@border-color: #f0f0f0;
@color400: #42a5f5;
@color500: #2196f3;

.bfd-nav {
  border-right: 1px solid #eaeaea;
  ul {
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style: none;
  }
}

.bfd-nav__item {
  > a {
    display: block;
    color: #333;
    text-decoration: none;
    position: relative;
    padding: 10px 15px;
    border-bottom: 1px solid @border-color;
    border-radius: 0;
    border-left: 5px solid #eaeaea;
    &:hover {
      background-color: #fafafa;
      border-left-color: @color400;
    }
    &:focus {
      background-color: #fafafa;
    }
  }
  > ul {
    display: none;
  }
  .bfd-nav__item {
    border-left: 0;
    border-right: 0;
    > a {
      padding-left: @padding-left;
    }
    .bfd-nav__item {
      > a {
        padding-left: @padding-left * 2;
      }
    }
  }
}

.bfd-nav__item-icon {
  margin-right: 10px;
}

.bfd-nav__item-toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
  transition: transform .2s;
}

.bfd-nav__item--open {
  > ul {
    display: block;
  }
  .bfd-nav__item-toggle {
    transform: rotate(90deg);
  }
}

.bfd-nav__item--active {
  > a {
    color: #333;
    background-color: #f5f5f5;
    border-left-color: @color500;
    &:hover,
    &:focus {
      color: #333;
      background-color: #f5f5f5;
    }
  }
}