.content > * {
  -webkit-animation: in .5s;
}

pre {
  max-width: 600px;
}

@-webkit-keyframes in {
  from {
    opacity: 0.05;
    margin-left: 30px;
    /*-webkit-transform: translate3d(30px, 0, 0);*/
  }
  to {
    opacity: 1;
    margin-left: 0;
    /*-webkit-transform: translate3d(0, 0, 0);*/
  }
}