.component .demo {
  width: 700px;
  border: 1px solid #ececec;
  border-radius: 3px;
}
.component ul.api {
  padding: 0;
  list-style: none;
}
.component ul.api li {
  margin-bottom: 30px;
}
.component ul.api li span.name {
  color: #c82829;
  font-weight: 500;
}
.component ul.api .string,
.component ul.api .boolean,
.component ul.api .function,
.component ul.api .object,
.component ul.api .array {
  color: #ababab;
  margin-left: 5px;
  /*font-style: italic;*/
}
.component ul.api .string:before {
  content: 'String';
}
.component ul.api .boolean:before {
  content: 'Boolean';
}
.component ul.api .function:before {
  content: 'Function';
}
.component ul.api .object:before {
  content: 'Object';
}
.component ul.api .array:before {
  content: 'Array';
}