#demo{
  width: 600px;
}
.bfd-radar-chart .legend{
	display: none;
}

.bfd-radar-chart .level-lines{
	background-color:#efefef;
}

.bfd-radar-chart .level-labels{
	display: none;
}

.bfd-radar-chart .axis-labels{
	color:#666666;
}

.bfd-radar-chart{
	background-color: #ffffff;
	border:1px solid #eeeeee;
}